.advantages-small {
    padding: 24px 0 24px 0;
    width: 100%;
    justify-content:center;
    display: flex;
  }
  
  @media (min-width:745px) {
    .advantages-small  { 
      padding: 35px 0
    }
  }

  @media (min-width:1000px) {
    .advantages-small  { 
      justify-content:flex-end;
    }
  }
  
  .advantages-small__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 30px;
  }
  
  @media (min-width:1000px) {
    .advantages-small__list { 
      gap: 17px;
      width: auto;
    }
  }
  
  .advantages-small__item {
    display: flex;
    gap: 13px;
    align-items: center;
    background-color: transparent;
    font-size: 18px;
    justify-self: flex-start;
    align-self: start;
  } 
  
  .advantages-small__icon {
    display: flex;
    max-width: 24px;
    height: 25px;
  }
  
  .advantages-small__advantage {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  